body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #020202;
}
p {
    margin: 5px 0;
    color: #915c18;
    text-align: right;
}
.opcao-img {
    border: none;
    background: none;
    padding: 4px;
    cursor: pointer;
}
.opcao-img img {
    width: 100px;      /* largura que você quiser */
    height: 100px;      /* altura que você quiser */
    object-fit: cover;  /* corta a imagem mantendo a proporção, sem esticar */
}
.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
}

h1 {
    text-align: center;
    color: #915c18;
}
h2{
    color:aliceblue
}

.selecoes {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    padding: 25px;
    border: 2px solid #45551a;
    border-radius: 10px;
    background-color: #1f1501;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.selecoes > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid #45551a;
    border-radius: 8px;
    background-color: #1f1501;
}

select {
    padding: 8px;
    font-size: 14px;
    background-color: #cdeee2;
    border: 1px solid #7fc9ac;
    border-radius: 6px;
    color: #2f4f4f;
}

.area-botao {
    margin-top: 30px;
}

#calcular {
    padding: 10px 25px;
    font-size: 16px;
    background-color: #cdeee2;
    border: 1px solid #7fc9ac;
    border-radius: 6px;
    color: #2f4f4f;
    cursor: pointer;
}

#calcular:hover {
    background-color: #b3e0cf;
}

#resultado {
    font-size: 22px;
    font-weight: bold;
    color: #2f4f4f;
    background-color: #f5f0e6;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 15px;
}